<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
      <target xsi:type="File"
            name="FileLogger"
            fileName="C:\Accommodation_Error_Log\WebAPI_${shortdate}.txt"
            concurrentWrites="True"
            archiveEvery="Day"
            archiveFileName="C:\Accommodation_Error_Log\Archive\Logs_{#####}.txt"
            archiveNumbering="Rolling"
            maxArchiveFiles="10"
            keepFileOpen="False"
            createDirs="true"
            layout="[${date}](${level}):${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>

  <rules>
    <logger name="*" levels="Error, Fatal, Warn" writeTo="FileLogger"></logger>
  </rules>
</nlog>