<div class="container">
    <div class="lock-wrapper" onload="startTime()" login-view>

        <div class="login_title">Turismo Alojamiento</div>
        <div ng-show="error" class="alert alert-block alert-danger fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
            </button>
            {{error}}
        </div>
        <div class="panel-body">
            <div class="register-center form">

                <form role="form" name="register" autocomplete="off">
                    <div class="form-group" data-ng-class="{'has-error': errorValidate(inputEmail) }">
                        <label for="inputEmail">Correo Electronico (Usuario)</label><span class="red-asterik">*</span>
                        <input autofocus="autofocus" type="text" class="form-control" id="inputEmail" placeholder="Correo Electronico" name="inputEmail"
                               data-ng-model="Email" required>
                        <div class="error-field-validation" data-ng-show="errorValidate(inputEmail)">
                            Correo Electronico es requerido.
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': errorValidate(inputName) }">
                        <label for="inputName">Nombre</label><span class="red-asterik">*</span>
                        <input autofocus="autofocus" type="text" class="form-control" id="inputName" placeholder="Nombre" name="inputName"
                               data-ng-model="Name" required>
                        <div class="error-field-validation" data-ng-show="errorValidate(inputName)">
                            Nombre es requerido.
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': errorValidate(inputLastName) }">
                        <label for="inputLastName">Apellido</label><span class="red-asterik">*</span>
                        <input autofocus="autofocus" type="text" class="form-control" id="inputLastName" placeholder="Apellido" name="inputLastName"
                               data-ng-model="LastName" required>
                        <div class="error-field-validation" data-ng-show="errorValidate(inputLastName)">
                            Apellido es requerido.
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="error-field-validation" data-ng-show="alert">{{alert.msg}}</span>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': errorValidate(inputPassword) }">
                        <label for="inputPassword">Contrase&#241;a</label><span class="red-asterik">*</span>
                        <input autofocus="autofocus" type="password" class="form-control" id="inputPassword" placeholder="Contrase&#241;a" name="inputPassword"
                               data-ng-model="Password" required>
                        <div class="error-field-validation" data-ng-show="errorValidate(inputPassword)">
                            Contrase&#241;a es requerido.
                        </div>
                    </div>
                    <div class="form-group" data-ng-class="{'has-error': errorValidate(inputRepeatPassword) }">
                        <label for="inputRepeatPassword">Repetir Contrase&#241;a</label><span class="red-asterik">*</span>
                        <input autofocus="autofocus" type="password" class="form-control" id="inputRepeatPassword" placeholder="Repetir Contrase&#241;a" name="inputRepeatPassword"
                               data-ng-model="RepeatPassword" required>
                        <div class="error-field-validation" data-ng-show="errorValidate(inputRepeatPassword)">
                            Contrase&#241;a es requerida.
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="error-field-validation" data-ng-show="alert">{{alert.msg}}</span>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" data-ng-click="register_user()">
                            Registrar
                        </button>
                        <button type="button" class="btn btn-danger" data-ng-click="register_cancel()">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
