<h2 style="margin-top: 5px;margin-bottom: 17px;">Bienvenido a la localidad de {{locationName}}</h2> 

    <h4>
        - Si estas buscando alojamientos en {{locationName}} puedes hacerlo en el siguiente link
        <a data-ng-href="{{hashtag}}/alojamientos">
            <span>Alojamientos</span>
        </a>
        .
    </h4>
    <h4>
        - Tienes a tu disposicion tambien servicios ofrecidos en la localidad de {{locationName}} haciendo click en
        <a data-ng-href="{{hashtag}}/servicios">
            <span>Servicios</span>
        </a>
        .
    </h4>
    <h4>
        - Recuerda que cuentas con una guia turistica disponible en
        <a data-ng-href="{{hashtag}}/turismo">
            <span>Turismo</span>
        </a>
        .
    </h4>
    <h2>Cambio de planes?</h2>
    <h4>
        - Encuentra alojamientos en
        <a data-ng-href="/">
            <span>Otras Localidades</span>
        </a>
        .
    </h4>
<br />

    <div style="height:25px;font-weight: bolder;color: darkslategray;">
        ALOJAMIENTOS DESTACADOS
    </div>
    <div data-ng-repeat="ad in lodgingAds" style="display: inline;">
        <a data-ng-class="{true:'active', false:''}[state_name == 'ads']" href="/{{ad.link}}" data-ng-show="!ad.external" style="padding: 0;display: inline;">
            <img src="{{ad.img}}" />
        </a>
        <a data-ng-class="{true:'active', false:''}" href="http://{{ad.link}}" target="_blank" data-ng-show="ad.external" style="padding: 0;display: inline;">
            <img src="{{ad.img}}" />
        </a>
    </div>

<br />
<br />
<div style="height:25px;font-weight: bolder;color: darkslategray;">
    SERVICIOS DESTACADOS
</div>
<div data-ng-repeat="ad in serviceAds" style="display: inline;">
    <a data-ng-class="{true:'active', false:''}[state_name == 'ads']" href="/{{ad.link}}" data-ng-show="!ad.external" style="padding: 0;display: inline;">
        <img src="{{ad.img}}" />
    </a>
    <a data-ng-class="{true:'active', false:''}" href="http://{{ad.link}}" target="_blank" data-ng-show="ad.external" style="padding: 0;display: inline;">
        <img src="{{ad.img}}" />
    </a>
</div>