<div class="modal-content">
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button" data-ng-click="close()">
            <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title">Unsaved data</h4>
    </div>
    <div class="modal-body">
        <p>There is data has not been saved. Do you want to leave the page anyway?</p>
    </div>
    <div class="modal-footer ax-modal-footer">
        <button class="btn btn-default" data-ng-click="close()">Cancel</button>
        <button class="btn btn-success" data-ng-click="confirm()">Confirm</button>
    </div>
</div>
