<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <rule name="uploads" stopProcessing="true">
          <match url="(uploads/.*)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="api/{R:1}"/>
        </rule>
        <rule name="StaticFiles" stopProcessing="true">
          <match url="(api/*|assets/.*|src/.*|vendor/.*|js/.*|(.*).js|(.*).html)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="None"/>
        </rule>
        <rule name="AngularAPP" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="index.html"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>