<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            {{ID ? 'Editar Publicacion' : 'Nueva Publicacion' }}
        </header>
        <div class="panel-body">
            <div class="publish-center form">
                <form role="form" name="formPublish" autocomplete="off" novalidate>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.Nombre) }">
                            <label for="inputName">Nombre:</label><span class="red-asterik">*</span>
                        </div>
                            <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                                <input autofocus="autofocus" type="text" ng-blur="validateHashtag()" class="form-control" id="inputName" placeholder="" name="Nombre"
                                       data-ng-model="publish.Name" required >
                                <div class="error-field-validation" data-ng-show="hashtagValid === false">
                                    El nombre ya es utilizado por otra publicidad. Intente con uno nuevo.
                                </div>
                            </div>
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label >www.turismoalojamiento.com.ar/{{publish.Name.split(' ').join('') | lowercase}}</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Provincia:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_state">Provincia</label>
                            <select class="form-control" id="select_state" data-ng-model="publish.State.ID" data-ng-change="populateLocation()" placeholder="Provincia"  name="Provincia" required>
                                <option value=""></option>
                                <option value="2">Buenos Aires</option>
                                <option value="3">Catamarca</option>
                                <option value="4">Chaco</option>
                                <option value="5">Chubut</option>
                                <option value="1">C&#243;rdoba</option>
                                <option value="6">Corrientes</option>
                                <option value="7">Entre R&#237;os</option>
                                <option value="8">Formosa</option>
                                <option value="9">Jujuy</option>
                                <option value="10">La Pampa</option>
                                <option value="11">La Rioja</option>
                                <option value="12">Mendoza</option>
                                <option value="13">Misiones</option>
                                <option value="14">Neuqu&#233;n</option>
                                <option value="15">R&#237;o Negro</option>
                                <option value="16">Salta</option>
                                <option value="17">San Juan</option>
                                <option value="18">San Luis</option>
                                <option value="19">Santa Cruz</option>
                                <option value="20">Santa Fe</option>
                                <option value="21">Santiago del Estero</option>
                                <option value="22">Tierra del Fuego</option>
                                <option value="23">Tucum&#225;n</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-show="publish.State.ID !== '' && publish.State.ID !== undefined">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Localidad:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_state">Localidad</label>
                            <select class="form-control" id="select_state" data-ng-model="publish.Location.ID" placeholder="Localidad" name="Localidad"
                                    data-ng-options="location.ID as location.Name for location in locations" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Tipo Publicacion:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_accommodationType">Tipo Publicacion</label>
                            <select class="form-control" id="select_accommodationType" data-ng-model="publish.Type" placeholder="Tipo Publicacion" name="Tipo Publicacion" required ng-disabled="!typeNewForm">
                                <option value=""></option>
                                <option value="Alojamiento">Alojamiento</option>
                                <option value="Servicio">Servicio</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-show="publish.Type === 'Alojamiento'">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Tipo Alojamiento:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_accommodationType">Tipo Alojamiento</label>
                            <select class="form-control" id="select_accommodationType" data-ng-model="publish.Lodging.Type.ID" placeholder="Tipo Alojamiento" name="Tipo Alojamiento" ng-required='publish.Type === "Alojamiento"'>
                                <option value=""></option>
                                <option value="1">Caba&#241;a</option>
                                <option value="2">Bungalow</option>
                                <option value="4">Hotel</option>
                                <option value="5">Casa</option>
                                <option value="3">Departamento</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-show="publish.Type === 'Servicio'">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Tipo Servicio:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_accommodationType">Tipo Servicio</label>
                            <select class="form-control" id="select_accommodationType" data-ng-model="publish.Service.Type.ID" placeholder="Tipo Servicio" name="Tipo Servicio" ng-required='publish.Type === "Servicio"'>
                                <option value=""></option>
                                <option value="1">Curso</option>
                                <option value="2">Gastronomia</option>
                                <option value="3">Entretenimiento</option>
                                <option value="4">Varios</option>
                                <option value="5">Financiero</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-show="publish.Type === 'Alojamiento'">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Numero de personas:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_capacity">Numero de personas</label>
                            <select class="form-control" id="select_capacity" data-ng-model="publish.Lodging.Capacity" placeholder="Numero de personas"  name="Numero de personas" ng-required='publish.Type === "Alojamiento"'>
                                <option value=""></option>
                                <option value="2">2 personas</option>
                                <option value="3">3 personas</option>
                                <option value="4">4 personas</option>
                                <option value="5">5 personas</option>
                                <option value="6">6 personas</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputPhone) }">
                            <label for="inputName">Telefono:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputPhone) }">
                            <input autofocus="autofocus" type="text" class="form-control" id="inputPhone" placeholder="" name="Telefono"
                                   data-ng-model="publish.Phone" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputEmail) }">
                            <label for="inputName">Correo Electronico de Contacto:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputEmail) }">
                            <input autofocus="autofocus" type="text" class="form-control" id="inputEmail" placeholder="" name="Email"
                                   data-ng-model="publish.Email" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputWebPage) }">
                            <label for="inputName">Pagina Web Adicional:</label>
                        </div>
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputWebPage) }">
                            <input autofocus="autofocus" type="text" class="form-control" id="inputWebPage" placeholder="" name="Pagina Web"
                                   data-ng-model="publish.WebPage">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Destacado / Gratuito:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-3 form-group">
                            <label class="sr-only" for="select_capacity">Destacado/Gratuito</label>
                            <select class="form-control" id="select_capacity" data-ng-model="publish.PublishType" placeholder="Destacado/Gratuito" name="Destacado/Gratuito" required>
                                <option value=""></option>
                                <option value="1">Gratuito</option>
                                <option value="2">Destacado</option>
                                <option value="3">Empresarial</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" ng-show="publish.PublishType === '2' || publish.PublishType === '3'">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Formas de Pago:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-9 form-group" style="color:brown">
                            <label>Nos estaremos contactando con usted para realizar el pago por transferencia bancaria. Mientras tanto su publicidad podra visualizarse como gratuita. Muchas Gracias!.</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Informacion:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-9 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <div text-angular ng-model="publish.Body"></div>
                        </div>
                        
                    </div>
                    <div class="row" data-ng-show="typeNewForm || photosHasChanged">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Fotos:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-9 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <div flow-object="existingFlowObject" flow-init>

                                <div>
                                    <!--<div class="thumbnail" ng-hide="$flow.files.length">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                                    </div>-->
                                    
                                        <div class="thumbnail" ng-show="$flow.files.length">
                                            <div class="row">
                                                <div class="col-md-2 form-inline" ng-show="$flow.files.length > 0">
                                                    <img style="width:100%;" flow-img="$flow.files[0]" />
                                                </div>
                                                <div class="col-md-2 form-inline" ng-show="$flow.files.length > 1">
                                                    <img style="width:100%;" flow-img="$flow.files[1]" />
                                                </div>
                                                <div class="col-md-2 form-inline" ng-show="$flow.files.length > 2">
                                                    <img style="width:100%;" flow-img="$flow.files[2]" />
                                                </div>
                                                <div class="col-md-2 form-inline" ng-show="$flow.files.length > 3">
                                                    <img style="width:100%;" flow-img="$flow.files[3]" />
                                                </div>
                                                <div class="col-md-2 form-inline" ng-show="$flow.files.length > 4">
                                                    <img style="width:100%;" flow-img="$flow.files[4]" />
                                                </div>
                                            </div>
                                    </div>
                                    <div>
                                        <p>
                                            Recuerda que tienes 5 fotos disponibles en formatos PNG, GIF, JPG.
                                        </p><br/>
                                        <button class="btn btn-primary" ng-show="$flow.files.length < 5" flow-btn>Subir Foto</button>
                                        <button class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">Limpiar</button>
                                        <button class="btn btn-danger" ng-show="!typeNewForm" ng-click="cancelChangePhotos()">Cancelar Cambios</button>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row" data-ng-show="!photosHasChanged && !typeNewForm">
                        <div class="col-md-3 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                            <label for="inputName">Fotos:</label><span class="red-asterik">*</span>
                        </div>
                        <div class="col-md-9 form-group" data-ng-class="{'has-error': errorValidate(formPublish.inputName) }">
                           

                                    <div class="thumbnail">
                                        <div class="row">
                                            <div class="col-md-2 form-inline" data-ng-repeat="photo in photos">
                                                <img style="width:100%;" src="{{photo.URL}}?{{getTimeStamp()}}" />
                                            </div>
                                        </div>
                                    </div>
                            <button class="btn btn-danger" ng-click="changePhotos()">Cambiar Fotos</button>

                        </div>

                    </div>

                        <div class="form-group">
                            <span class="error-field-validation" data-ng-show="validation_error">{{alert}}</span>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" data-ng-click="savePublish(formPublish)">
                                {{ ID ? 'Actualizar' : 'Guardar'}}
                            </button>
                            <button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancelar</button>
                        </div>
</form>
            </div>
        </div>
    </section>
</div>