<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div>
                            <form role="form">
                                <div class="row">
                                    <div class="col-md-5 form-group">
                                        <label class="sr-only" for="search_text">Buscar</label>
                                        <input type="text" class="form-control" id="search_text"
                                               data-ng-model="search_text"
                                               name="search_text" placeholder="Buscar">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="sr-only" for="select_accommodationType">Tipo Servicio</label>
                                        <select class="form-control" id="select_serviceType" data-ng-model="search_type.ServiceType.Name"  placeholder="Tipo Servicio">
                                            <option value="">Tipo Servicio</option>
                                            <option value="Gastronomia">Gastronomia</option>
                                            <option value="Entretenimientos">Entretenimientos</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><span class="background-search-label">Total Servicios: {{ total_services }}</span></p>
            </div>
            <div class="col-md-12" data-ng-show="services.length == 0">
                <p><span class="background-search-label">No se encontraron servicios.</span></p>
            </div>
            <div class="col-md-3" data-ng-repeat="service in services | filter:search_text| filter:search_type" >
                <!--widget start-->
                <aside class="profile-nav alt">
                    <section class="panel">
                        <div class="user-heading alt gray-bg">

                            <a data-ng-href="/{{ service.Hashtag }}">
                                <img alt="" data-ng-src="{{ service.Photos[0].URL }}?{{getTimeStamp()}}" />
                            </a>

                            <h1 style="height:36px;overflow: hidden;">{{ service.Name}}</h1>

                            <p style="width: 0px;">{{ service.ServiceType.Name }}</p>
                        </div>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a style="padding: 2px 17px 0px 17px;" data-ng-href="/{{ service.Hashtag }}"> <i class="fa fa-phone"></i>{{ service.Phone}}</a></li>
                            <li><a style="padding: 2px 17px 0px 17px;" data-ng-href="/{{ service.Hashtag }}"> <i class="fa fa-envelope-o"></i>{{ service.Email }} </a></li>
                        </ul>

                    </section>
                </aside>
                <!--widget end-->

            </div>
        </div>
    </div>
</div>
